:root {


    --color-primary: #afafaf;
    --color-secondary: #f4f4f4;

    --color-grey-light-1: #dedede;
    --color-grey-light-2: #c6c6c6;
    --color-grey-light-3: #e3e3e3;

    --color-grey-dark-1: #7e7979;

    --color-green-light-1: #9dd230;
    --color-green-light-2: #73ba0e;
    --color-green-light-3: #3b9a00;

    --color-red-light-1: #f65e70;
    --color-red-light-2: #f03747;
    --color-red-light-3: #a2202a;

    --color-white: #fff;

}