.box-form {
    margin-top: 2rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    max-width: 42rem;








    .box-form__shadow {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 2rem;
        border-radius: 3px;
    }

}