html {
  font-size: 62.5%; // 1rem = 10 px 10px/16 = 62.5%
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 62.5%; // 1rem = 10 px 10px/16 = 62.5%
  font-weight: 300;
  color: var(--color-primary);
  line-height: 1.6;
}

.heading-primary {
  color: var(--color-secondary);
  font-size: 3rem;
  font-weight: 300;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.8);
  text-align: center;

}